---
http_interactions:
- request:
    method: get
    uri: https://search-service.k8s.psu.edu/people?text=kiessling
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"userid":"ajk5603","cprid":"2460424","givenName":"Alexander","middleName":"","familyName":"Kiessling","honorificPrefix":"","honorificSuffix":"","preferredGivenName":"Alex","preferredMiddleName":"","preferredFamilyName":"Kiessling","preferredHonorificPrefix":"","preferredHonorificSuffix":"","active":true,"confHold":false,"universityEmail":"ajk5603@psu.edu","otherEmail":"","serviceAccount":false,"primaryAffiliation":"STAFF","affiliation":["STAFF"],"altUserids":[],"link":{"href":"https://cpr.k8s.psu.edu/cpr/resources/2460424"},"displayName":"Alex
        Kiessling"},{"userid":"bvk5505","cprid":"8341772","givenName":"Benjamin","middleName":"Mathew","familyName":"Kiessling","honorificPrefix":"","honorificSuffix":"","preferredGivenName":"","preferredMiddleName":"","preferredFamilyName":"","preferredHonorificPrefix":"","preferredHonorificSuffix":"","active":true,"confHold":false,"universityEmail":"bvk5505@psu.edu","otherEmail":"","serviceAccount":false,"primaryAffiliation":"STUDENT","affiliation":["STUDENT"],"altUserids":[],"link":{"hr[...]
