---
http_interactions:
- request:
    method: get
    uri: https://search-service.k8s.psu.edu/people?bogus=bam
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":{"code":400,"message":""},"errorMessage":["Response Error
        [400]: Invalid search string:  search string must be at least 3 characters"]}

        '
  recorded_at: Wed, 13 Aug 2025 13:25:13 GMT
recorded_with: VCR 6.3.1
