version: 2.1
orbs:
  ruby: circleci/ruby@2.5.0

jobs:
  build:
    docker:
      - image: cimg/ruby:3.4.1
    executor: ruby/default
    steps:
      - checkout
      - run:
          name: "Create Necessary Directories"
          command: mkdir ./log

      - run:
          name: "Install Bundler 2.6.6"
          command: |
            gem install bundler:2.6.6 &&
            bundle -v

      # An orb function for bundling
      - run:
          name: "Bundle Install"
          command: bundle install

      - run:
          name: "Rubocop"
          command: bundle exec rubocop

      - run:
          name: "Rspec"
          command: |
            export PSU_ID_OAUTH_CLIENT_ID=foo
            export PSU_ID_OAUTH_CLIENT_SECRET=bar
            RAILS_ENV=test bundle exec rspec
            
