---
http_interactions:
- request:
    method: get
    uri: https://search-service.k8s.psu.edu/people/userid/cam156
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":{"code":404,"message":""},"errorMessage":["Response Error
        [404]: user not found:  User cam156 not found"]}

        '
  recorded_at: Wed, 13 Aug 2025 13:05:00 GMT
recorded_with: VCR 6.3.1
