---
http_interactions:
- request:
    method: get
    uri: https://search-service.k8s.psu.edu/people?text=bam!
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":{"code":500,"message":"Error searching for users"},"errorMessage":["pq:
        syntax error in tsquery: \"bam!:*\""]}

        '
  recorded_at: Wed, 13 Aug 2025 13:27:07 GMT
recorded_with: VCR 6.3.1
